.color-1 {
    background-color: #ff0000; /* RED*/
  }
.color-2 {
    background-color: #ff4800; /* RED ORANGE */
  }
  
  .color-3 {
    background-color: #ffa600; /* ORANGE */
  }
  
  .color-4 {
    background-color: #FFAE42; /*YELLOW Orange */
  }
  
  .color-5 {
    background-color: #fffF00; /* Yellow */
  }
  
  .color-6 {
    background-color: #9ACD32; /* YELLOW GREEN */
  }
  .color-7 {
    background-color: #008000; /* GREEN */
  }
  
  .color-8 {
    background-color: #0D98BA; /* BLUE GREEN */
  }
  
  .color-9 {
    background-color:#001eff; /* BLUE */
  }
  
  .color-10 {
    background-color: #8a2be2; /* BLUE VIOLET */
  }
  
  .color-11 {
    background-color: #7F00FF; /* VIOLET */
  }
  
  .color-12 {
    background-color: #c71585; /* RED VIOLET */
  }
  