.color-2 {
    background-color: #e32223; /* Pinkish Magenta */
  }
  
  .color-3 {
    background-color: #e8611f; /* Deep Red */
  }
  
  .color-4 {
    background-color: #f18d1a; /* Orange */
  }
  
  .color-5 {
    background-color: #fbc30a; /* Yellow Orange */
  }
  
  .color-6 {
    background-color: #8bb923; /* Bright Yellow */
  }
  
  .color-1 {
    background-color: #950b0b; /* Light Yellow-Green */
  }
  
  .color-7 {
    background-color: #008e58; /* Green */
  }
  
  .color-8 {
    background-color: #0493ba; /* Teal Green */
  }
  
  .color-9 {
    background-color:#2970ae; /* Light Blue */
  }
  
  .color-10 {
    background-color: #454e99; /* Deep Blue */
  }
  
  .color-11 {
    background-color: #6d398c; /* Purple */
  }
  
  .color-12 {
    background-color: #c6047e; /* Deep Purple */
  }
  